.gallery-title {
  text-align: center;
  font-family: 'Lobster', cursive;
  font-weight: 250;
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

/* tombol panah */
.carousel-nav {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.carousel-nav button {
  background: rgba(0,0,0,0.4);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

/* responsive */
@media (max-width: 576px) {
  .carousel {
    max-width: 100%;
    width: 100vw;
  }

  .slide img {
    width: 100vw;
    height: auto;
  }
}